body {
	background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
	font-family: 'Fira Sans', sans-serif;
	padding: 20px;
}

.logo {
	width: 20%;
	height: 20%;
}

#right {
	float: right;
	font-weight: bold;
	font-size: 18px;
	text-align: justify;
}

nav {
	text-align: center;
	margin: 20px 0 0;
	padding: 10px 0;
}

nav ul {
	list-style-type: none;
	margin: 0; 
	padding: 0;
	background-color: #191970;
}

li {
	display: inline-block;
	background-color: #191970;
}

li a {
	display: block;
	color: #F0FFFF;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	nav {
		margin-top: 60px;
		margin-bottom: 20px;
	}
}

.pagetitle {
	text-align: center;
}

#title {
	text-align: center;
	background-color: #191970;
	color: #F0FFFF;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex: 0 1 auto;
	padding: 0 100px;
	background-color: #FFFFF0;
}

img {
	display: inline-block;
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

figcaption {
	font-size: 16px;
	text-align: center;
	text-decoration: underline;
}

footer {
	text-align: center;
}

.aboutme , .contact {
	text-indent: 5%;
	font-size: 18px;
	text-align: justify;
}
